
#Main{
background-color:red;
color:white;
font-family:Arial;
font-size:80%;
padding:20px;
margin:0;
border-bottom:white 4px solid;
}
#Main h1{
padding-left:80px;
width:250px;
display:inline;}
#main nav{
float:right;}

#Main li{
padding-bottom:50px;
}

/*#about
{
background:red;
color:white;
}*/

header a{
text-decoration:none;
text-transform:uppercase;}
header li{
display:inline;
padding-bottom:100px;
padding-left:10px;
padding-right:10px;}

#middle{
text-align:center;
background:url('./showcase.jpg') no-repeat 0 -400px;
height:300px;
padding-top:50px;
}
#middle h1{
font-size:40px;
color:#ffffff;}
#middle p{
color:white;
font-size:20px;
}
#sub {background:#123456;
padding:15px;
margin:0;
padding-bottom:20px;

}
#sub h3{
color:#ffffff;
font-size:20px;
width:250px;
display:inline;

}
#sub form{
float:right;
}
#sub input[type="email"]{
width:300px;
height:20px;
}
#container{
width:100%;
margin-top:0px;
}
#container #images1
{
float:left;
display:inline;

margin-top:10px;}
#images1{
text-align:center;
width:32%;
padding:10px;
}
#images1 img{
margin-top:20px;
width:50px;
}

#foot p{
margin-top:230px;
height:70px;
padding-top:30px;
  text-align: center;
  background:#e8491d;
}




